<%= form_for(@g_anewby) do |f| %>
  <% if @g_anewby.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@g_anewby.errors.count, "error") %> prohibited this g_anewby from being saved:</h2>

      <ul>
      <% @g_anewby.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
