<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @g_anewby.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @g_anewby.email %>
</p>

<%= link_to 'Edit', edit_g_anewby_path(@g_anewby) %> |
<%= link_to 'Back', g_anewbies_path %>
